<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-bar w3-indigo">
<a href="/" class="w3-bar-item w3-button">Home</a>
<a href="/post" class="w3-bar-item w3-button">Sell something</a>
    <div class="w3-dropdown-hover">
        <button class="w3-button"><%=session.user.username%></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/user" class="w3-bar-item w3-button">Profile</a>
        <a href="#" class="w3-bar-item w3-button">Link 2</a>
        <a href="/logout" class="w3-bar-item w3-button">Logout</a>
        </div>
    </div>
</div>